WMSTekAdmin/WebClient/WebResources/B2BTemplateASN/XSDFalabellaASN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ePIR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PIR">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NRO_OC" type="xs:unsignedInt" />
              <xs:element name="FECHA_DESPACHO" type="xs:string" />
              <xs:element name="HORA_DESPACHO" type="xs:string" />
              <xs:element name="TOTAL_BULTOS" type="xs:unsignedByte" />
              <xs:element name="TOTAL_TOTES" type="xs:unsignedByte" />
              <xs:element name="TOTAL_COLGADOS" type="xs:unsignedByte" />
              <xs:element name="NRO_SERIE_FACT" />
              <xs:element name="NRO_FACTURA" type="xs:string" />
              <xs:element name="ALMACEN" type="xs:string" />
              <xs:element name="GUIAS_DESPACHO" />
              <xs:element name="PRODUCTO">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="PRODUCTO_ROW">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UPC" type="xs:string" />
                          <xs:element name="DESCRIPCION_LARGA" type="xs:string" />
                          <xs:element name="NRO_LOCAL" type="xs:string" />
                          <xs:element name="LOCAL" type="xs:string" />
                          <xs:element name="CANTIDAD" type="xs:unsignedByte" />
                          <xs:element name="TIPO_EMBALAJE" type="xs:string" />
                          <xs:element name="NRO_BULTO" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="num" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="num" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>