WMSTekAdmin/WebClient/WebResources/B2BTemplateASN/XSDJohnsonASN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RECORD">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TIPO_EMBALAJE" type="xs:string" />
              <xs:element name="NRO_BULTO" type="xs:string" />
              <xs:element name="CAMPO_FIJO" type="xs:string" />
              <xs:element name="DESC_ARTICULO" type="xs:string" />
              <xs:element name="COD_SUCURSAL_DESTINO" type="xs:string" />
              <xs:element name="COD_DEPTO_COMPRA" type="xs:string" />
              <xs:element name="DESC_DEPTO_COMPRA" type="xs:string" />
              <xs:element name="NOMB_SUCURSAL_DESTINO" type="xs:string" />
              <xs:element name="SKU_CLIENTE" type="xs:string" />
              <xs:element name="SKU_COMPANIA" type="xs:string" />
              <xs:element name="OC" type="xs:string" />
              <xs:element name="CANTIDAD" type="xs:integer" />
              <xs:element name="NRO_DOC_DESPACHO" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>