WMSTekAdmin/WebClient/WebResources/B2BTemplateASN/XSDSodimacASN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CABECERA">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DETALLE">
          <xs:complexType>
            <xs:attribute name="NRO" type="xs:unsignedInt" use="required" />
            <xs:attribute name="UPC_EAN" type="xs:string" use="required" />
            <xs:attribute name="TIENDA_DESTINO" type="xs:string" use="required" />
            <xs:attribute name="DESC_TIENDA_DESTINO" type="xs:string" use="required" />
            <xs:attribute name="UND_DESPACHAR" type="xs:unsignedInt" use="required" />
            <xs:attribute name="TIPO_EMBALAJE" type="xs:string" use="required" />
            <xs:attribute name="SERIE_ETIQUETA_EMBALAJE" type="xs:unsignedLong" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="DETALLE2">
          <xs:complexType>
            <xs:attribute name="NRO" type="xs:unsignedInt" use="required" />
            <xs:attribute name="NRO_GUIA" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="NRO" type="xs:unsignedInt" use="required" />
      <xs:attribute name="NRO_CITA" type="xs:string" use="required" />
      <xs:attribute name="NRO_OC" type="xs:unsignedInt" use="required" />
      <xs:attribute name="FECHA_DESPACHO_PACTADA" type="xs:string" use="required" />
      <xs:attribute name="HORA_DESPACHO_PACTADA" type="xs:string" use="required" />
      <xs:attribute name="TOTAL_BULTOS" type="xs:unsignedInt" use="required" />
      <xs:attribute name="TOTAL_TOTES" type="xs:unsignedInt" use="required" />
      <xs:attribute name="TOTAL_PALLETS" type="xs:unsignedInt" use="required" />
      <xs:attribute name="GUIA" type="xs:unsignedInt" use="required" />
      <xs:attribute name="BODEGA" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>