WMSTekAdmin/WebClient/WebResources/B2BTemplateASN/XSDTottusASN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CABECERA">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DETALLE">
          <xs:complexType>
            <xs:attribute name="NRO_LINEA" type="xs:integer" use="required" />
            <xs:attribute name="COD_EAN" type="xs:string" use="required" />
            <xs:attribute name="COD_SUCURSAL_DESTINO" type="xs:string" use="required" />
            <xs:attribute name="DESC_SUCURSAL_DESTINO" type="xs:string" use="required" />
            <xs:attribute name="CANTIDAD" type="xs:integer" use="required" />
            <xs:attribute name="TIPO_EMBALAJE" type="xs:string"  use="required" />
            <xs:attribute name="NRO_DOC_DESPACHO" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="FOOTER">
          <xs:complexType>
            <xs:attribute name="NRO_LINEA" type="xs:integer" use="required" />
            <xs:attribute name="NRO_DOC_DESPACHO" type="xs:integer" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="NRO_LINEA" type="xs:integer" use="required" />
      <xs:attribute name="OC" type="xs:string" use="required" />
      <xs:attribute name="FEC_DESPACHO" type="xs:string" use="required" />
      <xs:attribute name="HORA_DESPACHO" type="xs:string" use="required" />
      <xs:attribute name="CANT_LPN" type="xs:integer" use="required" />
      <xs:attribute name="COLGADOS" type="xs:string" use="required" />
      <xs:attribute name="BIGTICKET" type="xs:string" use="required" />
      <xs:attribute name="PALLET_CONTENEDOR" type="xs:string" use="required" />
      <xs:attribute name="ALMACEN_DESPACHO" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>