WMSTekAdmin/IntegrationClient/XSD/ImportGrpItem3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GroupItem3">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GrpItem3">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Code" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="GrpItem1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GrpItem2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
