WMSTekAdmin/IntegrationClient/XSD/ImportVendor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Vendors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Vendor">
          <xs:complexType>
            <xs:sequence>             
              <xs:element name="Code" type="xs:string" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Address1" type="xs:string" />
              <xs:element name="Address2" type="xs:string" />
              <xs:element name="Phone" type="xs:string" />
              <xs:element name="Fax" type="xs:string" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="HasInspection" type="xs:unsignedByte" />
              <xs:element name="SpecialField1" type="xs:string" />
              <xs:element name="SpecialField2" type="xs:string" />
              <xs:element name="SpecialField3" type="xs:string" />
              <xs:element name="SpecialField4" type="xs:string" />
              <xs:element name="Owner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <!--<xs:element name="Country">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="State">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="City">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Code" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>-->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
